/* Reset & Base */
* {
  font-family: 'Calibri', 'Trebuchet MS', 'Segoe UI', sans-serif;
}

/* ---------------------- General Layout ---------------------- */
#withdrawForm {
    margin: 1rem auto;
    padding: 2rem 1.3rem;
    background: linear-gradient(135deg, #0b3a3d, #1a6b6c);
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);

}

 h3 {
    font-weight: 600;
    color: #ffffff !important;
    padding: 1rem 1.5rem;
    border: solid 1px;
    background: linear-gradient(135deg, #0b3a3d, #1a6b6c);
    border-radius: 22px;
    border-color: #002c2f;
}

/* ---------------------- Inputs ---------------------- */
.withdraw-input {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 12px;
    border: 1px solid;
    border-color: #469296;
    font-size: 1rem;
    transition: border-color 0.3s, box-shadow 0.3s;
    background: #1f1f1f27;
    color: #fff;
}

.withdraw-input:focus {
    border-color: #3aeded;
    box-shadow: 0 0 0 3px rgba(58, 195, 237, 0.2);
    outline: none;
}

/* ---------------------- Labels ---------------------- */
label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
    color: #ffffff !important;
    
}

/* ---------------------- Select Fields ---------------------- */
.withdraw-input[type="select"], select.withdraw-input {
    appearance: none;
    background: #1f1f1f27;
    background-size: 12px;
    padding-right: 2.5rem;
    cursor: pointer;
    color: #6e706f;
    border-color: #469296;
}

/* ---------------------- Dynamic Fields ---------------------- */
.withdraw-field {
    display: none;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.withdraw-field.active {
    display: block;
}

/* ---------------------- Button ---------------------- */
.withdraw-button {
    width: 100%;
    padding: 0.85rem;
    font-size: 1.1rem;
    background: linear-gradient(135deg, #28c6d1, #30daea);
    color: #060606;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
   
    align-items: center;
}

.withdraw-button:hover {
    background: linear-gradient(45deg, #37d3e4 , #28d1cb);
    transform: translateY(-2px);
    color: #060606;
}

/* ---------------------- Responsive ---------------------- */
@media (max-width: 768px) {
    .withdraw-form-container {
        padding: 1.5rem;
        margin: 1rem;
    }
    h3 {
        text-align: center;
    }
}
